[Settings]
SERVER_HOSTNAME = ec2-35-166-209-223.us-west-2.compute.amazonaws.com
SERVER_PORT = 55333
JOIN_SESSION_NAME = test

SYNC_INVENTORY = yes
SYNC_CHESTS = yes
SYNC_STATUS = yes
SYNC_GP = yes

RETROARCH_PORT = 55355

# Determines frequency of calls to the server.
# Increase the sync interval to reduce stuttering.
POLL_INTERVAL = 1.01
SYNC_INTERVAL = 3

# Determines the length of a pause in RetroArch when syncing inventory.
# Recommended 0.05 minimum, perhaps longer on slower computers.
# Setting to zero will remove stuttering, but inventory will be unstable.
PAUSE_DELAY_INTERVAL = 0.05

# These are "sanity check" thresholds to prevent inventory wipes.
# It is recommended to keep the defaults.
SIMILARITY_THRESHOLD = 0.95
MINIMUM_PLAYED_TIME = 600
MIN_SANE_INVENTORY = 7

# These are RAM addresses for various data. It should not be necessary to
# change these unless you are using a modified rom.
FIELD_ITEM_ADDRESS = 7e1869
BATTLE_ITEM_ADDRESS = 7e2686
PLAYED_TIME_ADDRESS = 7e021b
BATTLE_CHAR_ADDRESS = 7e3ed8
STATUS_1_ADDRESS = 7e3ee4
STATUS_2_ADDRESS = 7e3ef8
CHEST_ADDRESS = 7e1e40
GP_ADDRESS = 7e1860
BUTTON_MAP_ADDRESS = 7e0220
